{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <select class="mb-3">
            <option value="pet">What is the name of your first pet?</option>
            <option value="friend">What is the name of your best friend?</option>
            <option value="brand">What is your favourite brand?</option>
            <option value="color">What is your favourite color?</option>
        </select>
        <button class="btn btn-green" type="submit">Register</button>
        <div>
            {% if error %}
                <p class="red">{{ error }}</p>
            {% endif %}
            <a href="/login">Click here if you already have an account.</a>
        </div>
    </form>
{% endblock %}
