{% extends "layout.html" %}

{% block title %}
    Reset_password
{% endblock %}

{% block main %}
    <form action="/reset_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New Password (again)" type="password">
        </div>
        <input type="hidden" name="email" value="{{ email }}">
        <button class="btn btn-green" type="submit">Reset Password</button>
        <div class="mb-3">
            {% if error %}
                <p class="red">{{ error }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}
