{% extends "layout.html" %}

{% block title %}
    Verification
{% endblock %}

{% block main %}
    <form action="/verify" method="post">
        <div>
            Please, enter the verification code sent to {{ email }}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="verification_code" placeholder="Verification_code" type="text">
        </div>
        <button class="btn btn-green" type="submit">Verify</button>
        <div>
            {% if error %}
                <p class="red">{{ error }}</p>
                <a href="/login">Click here to resend email.</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
