{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-green" type="submit">Remove</button>
        <div>
            {% if error %}
                <p class="red">{{ error }}</p>
            {% endif %}
        </div>
    </form>
{% endblock %}
