body {
    text-align:center;
    color: #696969;
}


.header {
    background-image: linear-gradient(#B991FC, #FFFFFF);
    font-size: 40px;
    font-family: impact, sans-serif;
}

.main {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
