body {
    text-align:center;
    color: #696969;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;

}

.header {
    background-image: linear-gradient(#B991FC, #FFFFFF);
    font-size: 40px;
    font-family: impact, sans-serif;
}
