body {
    text-align:center;
    color: #696969;
}

.table {
    position: absolute;
    top: 30%;
    margin-top: -50px;
    margin-left: 10px;

}


.header {
    background-image: linear-gradient(#B991FC, #FFFFFF);
    font-size: 40px;
    font-family: impact, sans-serif;
}
