{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <select name="sport">
            <option disabled selected value="">Sport</option>
            <option>{{sports[0]}}</option>
            <option>{{sports[1]}}</option>
            <option>{{sports[2]}}</option>
        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}

